@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root, [data-bs-theme=light] {

--bs-primary-rgb: 41,197,207

}

#mapDetail{

    height: 300px;
    background-color: #ccc;

}
